<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="home">
        <h1>Welcome To <br/>
        <span> smart tasks &amp; team manager</span></h1>
        <a class="btn" href="#">Login</a>
        <a class="btn" href="#">Register</a>

    </div>
</body>
</html>