:root {
  --color-primary: #26579b;
  --color-secondary: #2c66b2;
  --color-accent: #333;
  --color-white: #fff;
  --color-border: #d1d5db;
  --color-error: #ab1b1b;
}
html {
  font-size: 62.5%;
  line-height: 5rem;

  font-family: sans-serif, Tahoma, "Segoe UI", Geneva, Verdana;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 8rem;
  width: 80vw;
}
h1 span {
  color: var(--color-primary);
  text-transform: uppercase;
}
/* buttons  */
.btn {
  display: block;
  text-decoration: none;
  padding: 0.5rem 3rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  width: 50vw;
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .btn {
    width: 30vw;
  }
}
.btn:hover {
  background-color: var(--color-secondary);
}
/* home */
.home {
  padding-top: 15vh;
}
/* form  & login*/
.form {
  padding-top: 6vh;
}
.login-form {
  padding-top: 15vh;
}
.form .msg {
  text-align: center;
  font-size: 1.8rem;
}
.form h1 {
  margin-bottom: 4rem;
}
.form .btn {
  margin-top: 4rem;
  cursor: pointer;
  border: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 58vw;
}
.form .link {
  text-decoration: none;
  color: var(--color-primary);
}
.form .link:hover {
  cursor: pointer;
  color: var(--color-secondary);
  text-decoration: underline;
}
.form .input {
  display: block;
  padding: 1rem;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.3rem;
  margin: 2rem auto;
  width: 55vw;
  font-size: 1.5rem;
}
.form .input:focus {
  outline: none;
}
.form .error {
  width: 55vw;
  color: var(--color-error);
  font-size: 1.5rem;
  margin: -2rem auto;
  font-weight: 500;
}
.form hr{
  width: 58vw;
  border: .5px solid lightgrey;
}
@media screen and (min-width: 992px) {
  .form .btn ,.form hr{
    width: 35vw;
  }
  .form {
    padding-top: 10vh;
  }
  .form .input,
  .form .error {
    width: 33vw;
  }
  .login-form {
    padding-top: 20vh;
  }
}

/* Modal */
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4 );
}
.modal form{
  background-color: var(--color-white);
  padding: 2rem;
  width: 50vw;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 20vh;
}
.modal form h2{
  font-size: 1.8rem;
  text-align: center;
}
.modal form h2 span{
    text-transform: uppercase;
    color: var(--color-primary);
}
.modal .input{
  width: 40vw;
}
.modal .btn{
  padding: 1rem .5rem;
  width: 10rem;
  border: none;
}
.modal p{
font-size: 1.6rem;
text-align: center;
}
.modal .right{
  display: flex;
  justify-content:end;
}
.modal .exit{
  background-color: var(--color-primary);
  color: var(--color-white);
  margin: 0px;
  padding: 1rem;
  width: .8rem;
  text-align: start;
}

.modal .exit span{
  position: absolute;
  top: 20.5vh;
  text-align: center;
}
@media  screen and (max-width:774px) {
  .modal form{
    width: 70vw;}
}
/* nav */
.nav{
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 5rem;
  align-items: center;
}
.nav h2{
  font-size: 2rem;
  flex: auto;
}
.nav .nav-link{
  text-align: end;
  flex: auto;
}
.nav .nav-btn{
   display: inline-block;
   color: var(--color-white);
   font-size: 1.5rem;
   padding: 1rem 2rem;
   background-color: var(--color-primary);
  border: .1rem solid lightgray;

}
.nav .nav-btn:hover{
  cursor: pointer;
  background-color: var(--color-secondary);
}
@media screen and (max-width: 448px) {
  .nav{
    display: block;
    text-align: center;
  }
}
/* board */
.board{
  display: flex;
  height: 82vh;
  align-content: center;
}
.board .menu{
  flex:  1 1 20%;
  background-color: rgb(241, 241, 241);
  padding: 1rem 5rem;

}
.board h2{
  font-size: 1.8rem;
  color: var(--color-primary);
}
.board h2:hover,.board .menu li:hover{
  cursor: pointer;
}
.board .menu ul{
  padding-left: 1rem;
}
.board .menu .link{
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}
.board .menu .link:hover{
  color: var(--color-accent);
}
.board .data{
  flex: 1 1 100%;
  
}
.board .data .teamMember-header,.board .data .teamMember-p{
  line-height: 1rem;
}
.board .data .teamMember{
  display: none;
  border: 1px solid lightgray;
  margin: 2rem;
  padding: 1rem;
  padding-bottom: 4rem;
  border-radius:1rem ;
  width: 60%;
}
.board .data .teamMember-btn{
  width: 100px;
  text-align: center;
  border: none;
  margin: 0;
  float: right;
}
.board .data .btn,.board .data p{
  font-size: 1.6rem;

}

.clear{
  clear: both;
}
.board .data .projects{
  display: none;
}
.board .data .project{
  border: 1px solid lightgray;
  margin: 2rem;
  padding: 1rem;
  padding-bottom: 4rem;
  border-radius:1rem ;
  width: 60%;
}
.board .data .projects .btn-second{
  display: block;
  width: 20rem;
  float: none;
  margin: 2rem;
  padding: 1rem;
  float: right;
}
@media screen and (max-width: 720px) {
  .board .menu{
  flex:  1 1 40%;
  padding: 1rem 2rem;
  }
  .board .data .teamMember{
    width: 80%;
  }
  .board .data .project{
    width: 80%;
  }
}
.new-project{
  padding-top: 2rem;
}
.new-project .input{
  margin: 1rem auto;
}
.new-project .input{
  color: #757575;
}
.new-project .select{
  width: 58vw;
}
.new-project .Linput{
  padding: 1rem;
  border:none;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.new-project .Linput:focus {
  outline: none;
}
.new-project .label{
  display: block;
  color: var(--color-primary);
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
   .new-project .select {
    width: 35vw;
  }
}