<%- include('./../headerComponent/header.ejs') -%>

<div class="error">
    <h1> 404</h1>
    <p>Page not found</p>
    <button><a href="/">Go Back Home</a></button>
</div>


<%- include('./../footerComponent/footer.ejs') -%>