<%- include('./../headerComponent/header.ejs') -%>
<div class="form login-form">
<h1><span> smart tasks &amp; team manager</span></h1>
    <form action="/login" method="post">
        <input class="input" type="text" placeholder="Email" name="email">
        <input class= "input" type="password" placeholder="Password" name="password">
        <% if (NotFound) { %>
            <p class="error">There isn't account with this email!</p>
        <% } %>
        <% if (incorrect) { %>
            <p class="error">Password is incorrect!</p>
        <% } %>
        <button class="btn" type="submit">Login</button>
    </form>
    <p class="msg forget">Forget Password&quest; <a  class='link' >Click Here</a></p>
    <hr>
    <p class="msg">Don't have an account&quest; <a  class='link' href="/register">Sign Up</a></p>

    <div class="modal">
        <form>
           <div class="right"> <btn class="btn exit"><span>x</span></btn></div>
            <h2><span> smart tasks &amp; team manager</span></h2>
            <input class="input" type="text" placeholder="Email" name="email">
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
</div>
<script>
    let modal = document.getElementsByClassName('modal')[0];
    let exit = document.getElementsByClassName('exit')[0];
    let forget = document.getElementsByClassName('forget')[0];
    forget.onclick = function() {
    modal.style.display = "block";
    }
    exit.onclick = function() {
    modal.style.display = "none";
    }
</script>
<%- include('./../footerComponent/footer.ejs') -%>